.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  border-bottom: 2px solid #8b8686;
  margin-bottom: 20px;
}

.headerTitle {
  font-size: 35px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoutBtn {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logoutBtn:hover {
  background-color: #d9363e;
}
